<div class="card">
    <div class="card-body">
        <h6 class="text-center">
            Lista de Empresas
        </h6>
        <div class="form-group">
            <div class="form-control">
                <table class="table table-sm table-hover">
                    <tbody>
                        <tr>
                            <td>Nombre</td>
                            <td>Accion</td>
                        </tr>
                        <tr *ngFor="let comp of companyList">
                            <td>{{comp.name}}</td>
                            <td>
                                <a class="btn btn-danger text-white" (click)="onDelete(comp.id)">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>