<div class="col-md-6 mx-auto mt-5">
    <div class="card-body">
        <form (submit)="onLogin()">

            <div class="form-group">
                <input (keypress)="keyPress($event)" type="text" class="form-control" name="email" [(ngModel)]="email" pattern="[a-z,@]*" onpaste="return false" oncut="return false" oncopy="return false" placeholder="Correo Electronico">
            </div>
            <div *ngIf="email" class="form-group">
                <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Contraseña" required>
            </div>
            <input type="submit" [disabled]="!password" value="Ingresar" class="btn btn-primary btn-block btn-lg">
        </form>

    </div>
</div>