<nav class="navbar navbar-dark">
    <a class="navbar-brand" href="/"> {{title}} </a>
    <a class="navbar-brand" *ngIf="!isLogin" [routerLink]="['/login']">Login</a>
    <a class="navbar-brand" *ngIf="isLogin" [routerLink]="['/private'] ">Administrar</a>
    <a class="navbar-brand" *ngIf="isLogin" href="" (click)="logout()">Salir</a>
</nav>
<router-outlet></router-outlet>