<div class="col-md-6 mt-5">
    <div class="card-body">
        <form #companyForm="ngForm" (ngSubmit)="addCompany(companyForm)">

            <div class="form-group">
                <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="companyForm.$key">
                <input type="text" class="form-control" #name="ngModel" name="name" [(ngModel)]="companyForm.name" placeholder="Ingresa nueva empresa">
            </div>
            <input type="submit" value="Agregar" class="btn btn-primary btn-block btn-lg">
        </form>

    </div>
</div>
<app-product-list>